/* base */
body:where(.light) { color: rgba(0,0,0,0.6); }
body:where(.light) a { color: rgba(0,0,0,0.7); }
body:where(.light) a:hover { color: #000; }
body:where(.light) #wrapper,
body:where(.light) #header { background: #fff; }
body:where(.light) #header,
body:where(.light) .subheader,
body:where(.light) .list-card { border-bottom: 1px solid rgba(0,0,0,0.06); }
body:where(.light) #footer,
body:where(.light) .right-sidebar,
body:where(.light) .sticky-heading { background: #f4f4f4; }
body:where(.light) .sticky-heading-alt { background: #fff; }

body:where(.light.invert-light-logo) .site-title a img,
body:where(.light.invert-light-logo) .site-title a svg { filter: invert(1); }

body:where(.light) .toggle-search.active,
body:where(.light) .search-expand { background: #f4f4f4; }
body:where(.light) .toggle-search .svg-icon,
body:where(.light) .toggle-search.active #svg-close { fill: #000; }
body:where(.light) .toggle-search:focus #svg-search,
body:where(.light) .toggle-search:focus #svg-close { fill: rgba(0,0,0,0.5); }
body:where(.light) .toggle-search { border-right: 1px solid rgba(0,0,0,0.06); }

body:where(.light) .social-links .social-tooltip:hover { color: #000; }
body:where(.light) .social-links .social-tooltip:hover:after { background: #000; color: #fff; }
body:where(.light) .social-links .social-tooltip:hover:before { border-color: #000 transparent; } 

body:where(.light) .main-header { background: linear-gradient(0deg, #f4f4f4 0%, #fff 100%); }
body:where(.light) .main-header-single-grad { background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 100%); }
body:where(.light) .featured-card,
body:where(.light) .featured-card:hover { background: #fff; }
body:where(.light) .featured-card:after { border: 1px solid rgba(0,0,0,0.1); transition: all 0.3s ease; }
body:where(.light) .featured-card:hover:after { border: 1px solid rgba(0,0,0,0.16); box-shadow: 0 0 20px rgba(0,0,0,0.16); }

body:where(.light) .entry { color: rgba(0,0,0,0.85); }

body:where(.light) .site-title a,
body:where(.light) h1, 
body:where(.light) h2, 
body:where(.light) h3, 
body:where(.light) h4, 
body:where(.light) h5, 
body:where(.light) h6,
body:where(.light) .featured-card-title a,
body:where(.light) .list-card-title a { color: #000; }

body:where(.light) .list-card:hover { background-color: #f4f4f4;  border-color: rgba(0,0,0,0.06); }
body:where(.light) .list-card-category a { color: rgba(0,0,0,0.5); }

body:where(.light) .featured-card-category { color: rgba(0,0,0,0.5); }
body:where(.light) .featured-card-category a { color: rgba(0,0,0,0.5); }

body:where(.light) .left-sidebar { border-right: 1px solid rgba(0,0,0,0.06); }
body:where(.light) .sticky-heading a { color: rgba(0,0,0,0.1); }
body:where(.light) .sticky-heading:after { background: rgba(0,0,0,0.06); }

body:where(.light) .sidebar .post-nav li a i { background: #fff; color: #000; }
body:where(.light) .sidebar .post-nav li a { border-bottom: 1px solid rgba(0,0,0,0.06); }
body:where(.light) .post-nav li a span { color: #000; }
body:where(.light) .post-nav li a:hover span { color: rgba(0,0,0,0.7);  }
body:where(.light) .post-nav li a strong { color: rgba(0,0,0,0.5); }

body:where(.light) .small-heading,
body:where(.light) .widget > h3 { color: rgba(0,0,0,0.4); }

body:where(.light) .small-heading:after,
body:where(.light) .widget > h3:after { background: rgba(0,0,0,0.1); }

body:where(.light) .author-bio-image { background: linear-gradient(0deg, #e5e5e5 0%, #fff 100%); }
body:where(.light) .author-bio-name { background: #fff; color: #000; }
body:where(.light) .author-bio-name:after { border-bottom-color: #fff; }
body:where(.light) .author-bio-description { color: rgba(0,0,0,0.75); }

body:where(.light) .alx-tabs-nav:after { border: 1px solid rgba(0,0,0,0.06); }
body:where(.light) .alx-tab .tab-item-category a, 
body:where(.light) .alx-posts .post-item-category a, 
body:where(.light) .alx-tab li:hover .tab-item-title a, 
body:where(.light) .alx-tab li:hover .tab-item-comment a, 
body:where(.light) .alx-posts li:hover .post-item-title a { color: rgba(0,0,0,0.5); }

body:where(.light) .alx-tab .tab-item-category, 
body:where(.light) .alx-posts .post-item-category { color: rgba(0,0,0,0.5); }

body:where(.light) .alx-tab .tab-item-title a, 
body:where(.light) .alx-tab .tab-item-comment a, 
body:where(.light) .alx-posts .post-item-title a { color: #000; }
body:where(.light) .alx-tab .tab-item-category a:hover, 
body:where(.light) .alx-posts .post-item-category a:hover { color: #000!important; }

body:where(.light) .sidebar .alx-posts > li { background: #fff; }
body:where(.light) .sidebar .alx-posts > li:hover { background: #fff; }
body:where(.light) .sidebar .alx-posts > li:after { border: 1px solid rgba(0,0,0,0.1); }
body:where(.light) .sidebar .alx-posts > li:hover:after { border-color: rgba(0,0,0,0.16); box-shadow: 0 0 20px rgba(0,0,0,0.16); }
body:where(.light) .sidebar .alx-posts > li:hover .post-item-title a { color: #000; }

body:where(.light) .main-header-single::after { border: 1px solid rgba(0,0,0,0.08); }
body:where(.light) .main-header-single-meta { box-shadow: 0 -1px 0 rgba(0,0,0,0.1); }
body:where(.light) .main-header-single-meta:after { background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%); }
body:where(.light) .main-header-single-meta .single-meta-text { color: #000; }
body:where(.light) .main-header-single-meta .single-meta-icon { color: rgba(0,0,0,0.4); }
body:where(.light) .main-header-single-meta .single-meta-text span,
body:where(.light) .main-header-single-meta .single-meta-text a { color: rgba(0,0,0,0.5); }

body:where(.light) .alx-tabs-nav { background: rgba(0,0,0,0.08); }
body:where(.light) .alx-tabs-nav li a { color: rgba(0,0,0,0.4); }
body:where(.light) .alx-tabs-nav li a:hover {  }

body:where(.light) .pagination ul li a { background: #f4f4f4; color: #000; }

body:where(.light) #footer-bottom #back-to-top { border: 1px solid rgba(0,0,0,0.06); }

@media only screen and (max-width: 719px) {
	body:where(.light) .main-header-single-meta li { border-bottom: 1px solid rgba(0,0,0,0.06); }
}

body:where(.light) .post-tags a { background: #eee; }

/* entry */
body:where(.light) .entry .wp-caption { background: #f4f4f4; }
body:where(.light) .entry table td,
body:where(.light) .entry table th { border: 1px solid rgba(0,0,0,0.12); }

/* blocks */
body:where(.light) .entry .wp-block-separator { background: rgba(0,0,0,0.12); }
body:where(.light) .entry .wp-block-button a { background: #eee; color: #000; }
body:where(.light) .entry .wp-block-calendar caption { background: rgba(0,0,0,0.06); color: #000; }
body:where(.light) .entry .wp-block-calendar th { background: rgba(0,0,0,0.12); color: #000; }
body:where(.light) .entry .wp-block-calendar td { color: rgba(0,0,0,0.5); }

/* comments */
body:where(.light) .commentlist .fn { color: #000; }
body:where(.light) .commentlist .comment-meta a { color: rgba(0,0,0,0.4); }
body:where(.light) .comment-awaiting-moderation { color: #000; }

/* forms */
body:where(.light) .themeform input:not([type="submit"]):not([type="checkbox"]), 
body:where(.light) .themeform textarea { background: transparent; color: rgba(0,0,0,0.5); border: 1px solid rgba(0,0,0,0.15); }
body:where(.light) .themeform input[type="submit"] { background: #000; color: #fff;  }
body:where(.light) .themeform textarea:focus, 
body:where(.light) .themeform input:not([type="submit"]):focus { outline: 1px solid rgba(0,0,0,0.3); border-color: rgba(0,0,0,0.3); color: rgba(0,0,0,0.75); }
body:where(.light) .themeform.searchform div:after { color: rgba(0,0,0,0.4) }

/* widgets */
body:where(.light) .widget > h3 a,
body:where(.light) .widget > h3 a:hover { color: rgba(0,0,0,0.4); }
body:where(.light) .widget > ul li:before,
body:where(.light) .widget > ul li a:before,
body:where(.light) .widget > div > ul li a:before,
body:where(.light) .widget_calendar caption:before { color: rgba(0,0,0,0.4); }
body:where(.light) .widget > ul li a:hover:before { color: rgba(0,0,0,0.7); }
body:where(.light) .widget_archive ul li,
body:where(.light) .widget_categories ul li,
body:where(.light) .widget_links ul li { color: rgba(0,0,0,0.3); }
body:where(.light) .widget_recent_comments ul li,
body:where(.light) .widget_recent_entries ul li { color: rgba(0,0,0,0.5); }
body:where(.light) .widget_rss ul li a { color: rgba(0,0,0,0.9); }
body:where(.light) .widget_rss ul li span.rss-date { color: rgba(0,0,0,0.5); }
body:where(.light) .widget_rss ul li cite { color: rgba(0,0,0,0.3); }
body:where(.light) .widget_calendar a { color: #000; }
body:where(.light) .widget_calendar a:hover { color: #000!important; }
body:where(.light) .widget_calendar caption { background: rgba(0,0,0,0.1); color: #000; }
body:where(.light) .widget_calendar caption:before { color: rgba(0,0,0,0.7); }
body:where(.light) .widget_calendar thead { background: rgba(0,0,0,0.06); box-shadow: inset 0 -1px 0 rgba(0,0,0,0.04); }
body:where(.light) .widget_calendar th, 
body:where(.light) .widget_calendar td { border: 1px solid rgba(0,0,0,0.12); }

/* menu styling */
body:where(.light) .menu-toggle-icon span { background: #000; }
body:where(.light) .nav-menu.mobile button:focus,
body:where(.light) .menu-toggle:focus { background: rgba(0,0,0,0.04); }
body:where(.light) .nav-menu a { color: #000; }
body:where(.light) .nav-menu .svg-icon { fill: #000; }
body:where(.light) .nav-menu:not(.mobile) .menu ul { background: #000; color: #000; }
body:where(.light) .nav-menu:not(.mobile) .menu ul:after { border-bottom-color: #000; }
body:where(.light) .nav-menu:not(.mobile) .menu ul ul:after { border-right-color: #000; }
body:where(.light) .nav-menu-dropdown-left .nav-menu:not(.mobile) .menu ul ul:after { border-left-color: #000; border-bottom-color: transparent; }

body:where(.light) .nav-menu:not(.mobile) a { color: rgba(0,0,0,0.6); }
body:where(.light) .nav-menu:not(.mobile) a:hover { color: #000; }
body:where(.light) .nav-menu:not(.mobile) ul ul a:hover { color: #999; }
body:where(.light) .nav-menu:not(.mobile) ul ul > li:hover > span { background: rgba(0,0,0,0.1); }
body:where(.light) .nav-menu:not(.mobile) ul ul a { color: #eee; }
body:where(.light) .nav-menu:not(.mobile) ul ul span { border-bottom: 1px solid #222; }
body:where(.light) .nav-menu:not(.mobile) button { color: #666; }
body:where(.light) .nav-menu:not(.mobile) button.active { background: rgba(0,0,0,0.1); color: rgba(0,0,0,0.5); }
body:where(.light) .nav-menu:not(.mobile) button .svg-icon { fill: rgba(0,0,0,0.3); }
body:where(.light) .nav-menu:not(.mobile) ul ul button { color: #eee; }
body:where(.light) .nav-menu:not(.mobile) ul ul button.active { background: #222; color: rgba(0,0,0,0.5); }
body:where(.light) .nav-menu:not(.mobile) ul ul button .svg-icon { fill: rgba(255,255,255,0.5); }

body:where(.light) .nav-menu:not(.mobile) ul ul li.current_page_item > span > a, 
body:where(.light) .nav-menu:not(.mobile) ul ul li.current-menu-item > span > a, 
body:where(.light) .nav-menu:not(.mobile) ul ul li.current-menu-ancestor > span > a, 
body:where(.light) .nav-menu:not(.mobile) ul ul li.current-post-parent > span > a { color: #999; }

body:where(.light) .nav-menu.mobile {  }
body:where(.light) .nav-menu.mobile button.active .svg-icon { fill: #000; }
body:where(.light) .nav-menu.mobile ul ul { background: rgba(0,0,0,0.04); }
body:where(.light) .nav-menu.mobile ul li .menu-item-wrapper,
body:where(.light) .nav-menu.mobile ul ul li .menu-item-wrapper { border-bottom: 1px solid rgba(0,0,0,0.07); }
body:where(.light) .nav-menu.mobile ul li a { color: #000; }
body:where(.light) .nav-menu.mobile ul button,
body:where(.light) .nav-menu.mobile ul ul button { border-left: 1px solid rgba(0,0,0,0.07); }
body:where(.light) .nav-menu.mobile > div > ul { border-top: 1px solid rgba(0,0,0,0.07); }

/* wp-pagenavi */
body:where(.light) .wp-pagenavi span { color: rgba(0,0,0,0.4); }
body:where(.light) .wp-pagenavi a { background: #eee; color: #333; }
body:where(.light) .wp-pagenavi a:hover,
body:where(.light) .wp-pagenavi a:active,
body:where(.light) .wp-pagenavi span.current { color: #fff; }
